.avatar {
  width: 150px;
  height: 150px;
  background-color: #28240a;
  border-radius: 50%;
}

.card {
  border: 1px solid black;
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.stats {
  display: flex;
  gap: 8px;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
